@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tanvir Mahmud Khan<br />
    Rupnagar R/A, Mirpur, Dhaka<br />
    <abbr title="Phone">P:</abbr>
    01554035483
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sajid8212@gmail.com">sajid8212@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sajid8212@gmail.com">sajid8212@gmail.com</a>
</address>